#about {
    background-color: #000; /* Black */
    color: #fff;
}

#about h2 {
    font-size: 2.5rem;
    color: #FFD700;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}
